<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNGKeywords.TestAnntation"/>
      <class name="TestNGKeywords.Keyword5_Groups"/>
      <class name="TestNGKeywords.Keyword7_Exception"/>
      <class name="TestNGKeywords.Keyword2_Priority"/>
      <class name="TestNGKeywords.Keyword3_DependsOn"/>
      <class name="TestNGKeywords.Keyword6_Timeout"/>
      <class name="TestNGKeywords.Keyword1_Enabled"/>
      <class name="TestNGKeywords.IncludeExcludeTestCase"/>
      <class name="TestNGKeywords.Keyword4_InvocationCount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
